header {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.image {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px 0;
    border-radius: 16px;
}

.section-heading {
    margin: 0px auto;
    max-width: 600px;

}

.happy-new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
}

.celebration {
    color: #FFF;
    text-align: center;
    font-size: 72px;
}

main {
    max-width: 1320px;
    margin: 120px auto;
}

/*Part two starts here*/

.categories {
    padding: 120px 390px;
    margin: 120px 0px;
    background-color: #FFF8F3;
    border-radius: 16px;

}

.section-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    margin-bottom: 48px;
}

.holiday {

    color: #F00;
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}

.all-categories {
    color: #070211;
    text-align: center;
    font-size: 48px;
}

.section-image img {
    align-items: center;
    width: 545px;
    height: 400px;
    margin: 0 auto;
}


/*Part three starts here*/



.banner-image {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 16px;
}

.img2 {
    position: absolute;
    margin-top: -50px;
    margin-left: 700px;

}


.Greeting {
    padding: 120px 500px 130px 130px;
}

.title-text {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    margin-bottom: 24px;
}

.para-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;

}

.btn {
    text-transform: uppercase;
    background-color: transparent;
    color: #FFF;
    border: 0;
    font-size: 20px;
    margin-top: 48px;

}

/*Part three ends here*/


/*Part four starts here*/

.information {
    background-color: #FFF8F3;
    margin-top: 120px;
    border-radius: 16px;
}

.time-information {
    padding: 100px 390px;
}

h3 {
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-style: normal;
    text-transform: capitalize;
}

.btn1 {
    text-transform: uppercase;
    margin-left: 40%;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    margin-top: 48px;
}