/*Header part designing here*/
header{
    width: 1320px;
    height: 600px;
    margin: 0 auto; 
    
}

.image {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px 0;
    border-radius: 16px;
    filter:brightness(70%);
    
}

.section-heading {
    margin: 0px auto;
    max-width: 600px;
    
}

.happy-new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
   
}

.celebration {
    color: #FFF;
    text-align: center;
    font-size: 72px;
  
}

main {
    max-width: 1320px;
    margin: 120px auto;
}

/*Part two starts here*/

.categories {
    padding: 120px 390px;
    margin: 120px 0px;
    background-color: #FFF8F3;
    border-radius: 16px;
   

}

.section-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    margin-bottom: 48px;
}

.holiday {

    color: #F00;
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}

.all-categories {
    color: #070211;
    text-align: center;
    font-size: 48px;
}

.section-image img {
    align-items: center;
    width: 545px;
    height: 400px;
    margin: 0 auto;
}


/*Part three starts here*/



.banner-image {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 16px;
}

.img2 {
    position: absolute;
    margin-top: -50px;
    margin-left: 700px;

}


.Greeting {
    padding: 120px 500px 130px 130px;
}

.title-text {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    margin-bottom: 24px;
}

.para-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;

}

.btn {
    text-transform: uppercase;
    background-color: transparent;
    color: #FFF;
    border: 0;
    font-size: 20px;
    margin-top: 48px;

}

/*Part three ends here*/


/*Part four starts here*/

.information {
    background-color: #FFF8F3;
    margin-top: 120px;
    border-radius: 16px;
}

.time-information {
    padding: 100px 390px;
}

h3 {
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-style: normal;
    text-transform: capitalize;
}

.btn1 {
    text-transform: uppercase;
    margin-left: 40%;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    margin-top: 48px;
}

/*Section five starts here*/
.main-div {
    display: flex;
    gap: 70px;
    margin-top: 120px;
    background-color: #FFF8F3;
    border-radius: 16px;
    

}

.all-title {
    max-width: 440px;
    margin-top: 100px;

}

.new-best-offer {
    color: #F00;
    font-size: 24px;
    margin-bottom: 16px;
}

.comming-soon {
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.new-year-para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

.image-div {
    max-width: 440px;
    margin-top: 40px;
}

.year {
    max-width: 440px;
    margin-top: 50px;
    color: #F00;
    font-size: 48px;
}

.year-2024 {
    margin-bottom: 16px;
}







.top-div {
    background-color: #FFF8F3;
    border-radius: 16px;
    margin-top: 0;
    position: relative;
}

.what-is-functional {
    text-align: center;
    color: #070211;
    font-size: 24px;
    margin-top: 120px;
    padding-top: 50px;
}

.holidays-sale {
    text-align: center;
    color: #F00;
    font-size: 72px;
    margin-top: 16px;
}

.sale-description {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.girl-image {
    margin-left: 890px;
    padding-top: 100px;
    position: relative;
}
.group-44{
    position: absolute;
    width: 200px;
}

.gift-image {
    position: absolute;
    margin-bottom: 100px;
}

/*Ornament Section Starts here*/
.title-div {
    background-color: #FFF8F3;
    border-radius: 16px;
}

.the-best-gift {
    color: #F00;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 16px;
}

.portfolio {
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    width: 600px;
}

.main-div-of-ornaments {
    display: flex;
    gap: 24px;

}

.second-div-of-ornaments {
    display: flex;
    gap: 24px;
}

/*Subscribe box designing starts here*/
.container-subscribe-box {
    background-color: #FFF8F3;
    border-radius: 16px;
    padding: 80px 210px;
    margin-top: 120px;
}

.message-box {
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.Subscribe-Newsletter {
    color: #070211;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.subscribe-pera {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
}

.form-box input[type="text"] {
    width: 480px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 22px;
    margin-left: 125px;
    border: 0;
    position: relative;
    margin-top: 50px;
}

.form-box input[type="submit"] {
    width: 160px;
    height: 72px;
    border-radius: 0 50px 50px 0;
    color: rgba(7, 2, 17, 0.30);
    font-size: 22px;
    margin-left: 150px;
    border: 0;
    position: absolute;
    margin-left: -5px;
    color: #FFF;
    background: #F00;
    margin-top: 50px;
    padding: 15px 40px;
}

/*Subscribe box designing ends here*/




/*Footer Design Starts here*/
.footer-part{
    background-color: #070211;
    width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
}
.footer-main-div {
    display: flex;
    
}

.address{
    color: #FFF;
    font-size: 24px;
    margin-left: 20px;
    padding-top: 80px;
  
}
.number{
    margin-left: 650px;
}

.logo{
    margin-left: 550px;
}

.final{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    margin-right: 160px;
}


/*Footer Design Ends here*/